<div class="container" ng-controller="HomeCtrl">
<div class="col-md-12" >

<p>Hola mundo en home!</p>


<p>Listado que demora acá abajo:</p>

<label for="multipleSelect"> Seleccione País de Europa: </label><br/>

<select size="6" name="ngvalueselect" ng-model="data.model" ng-change="actualizarBandera()" multiple>
  <option ng-repeat="option in data.availableOptions" ng-value="option.value">{{option.name}}</option>
</select>
<br/>

<img ng-src="{{ bandera }}" width="200px"/>


<pre>Elementos seleccionados (valor de data.model) = {{data.model | json}}</pre><br/>

<p>Y acá se carga el servicio rápido. </p>

<div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img src="img/ajax_loader_blue.gif" width="50"/></div></div>

{{ resultadoAgil }}

<br/>
<button ng-click="llamar()">Llamando servicio</button>
<br/>
<button  ng-click="abrirModal()">Y sus buenos modales!</button>
</div>


</div>