<div class="container" ng-controller="HomeCtrl">
<div class="col-md-12" >

<p>Hola mundo en home!</p>


<p>Se debería cargar un servicio y mostrar un listado acá abajo:</p>


<p>Y acá se carga el servicio rápido. </p>

<div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img src="img/ajax_loader_blue.gif" width="50"/></div></div>

{{ resultadoAgil }}

<br/>
<button ng-click="llamar()">Llamando servicio</button>
<br/>
<button ng-click="modal()">Y sus buenos modales!</button>
</div>


</div>